*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
}
